.App {
  text-align: center;
  min-height: 100vh !important;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.App-header-content-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ant-collapse-header-text {
  color: white;
}
.logo {
  width: 90%;
  max-width: 600px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: -100px;
  z-index: 1;
  position: relative;
}
.fundo {
  height: 160px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.background_fundo {
  width: 100vw;
  height: 100%;
  background-size: cover;
  justify-content: center;
  user-select: none;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(
    90deg,
    rgba(178, 125, 64, 1) 0%,
    rgb(247, 251, 244) 100%
  );
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
