.border {
  border: 3px solid #7a4827;
  border-radius: 10px;
  margin: 2px 0 25px;
  padding: 5px;
  max-width: 500px;
}

.flex {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  padding-left: 10px;
}

.p_1 {
  -webkit-background-clip: text;
  background-clip: text;
  font-weight: bold;
  color: transparent;
  margin-left: 10px;
}

.name {
  color: #7a4827;
  font-size: 18px;
  font-weight: bold;
  margin-left: 1vw;
  margin-top: 0;
  text-align: start;
}

.price {
  color: #7a4827;
  font-weight: bold;
  font-size: 16px;
}

.sub {
  color: #7a4827;
  font-weight: bold;
  margin-left: 6px;
  font-size: 12px;
  text-align: start;
}

@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
}

@font-face {
  font-family: "Georgia-bold";
  src: url("../fonts/georgia-bold.ttf") format("truetype");
}

.georgia-font,
.georgia-bold-font {
  font-family: "Georgia", serif;
}

.georgia-bold-font {
  font-family: "Georgia-bold", serif;
}

img.ant-image-img {
  border-radius: 10px;
}

.ant-collapse-content.ant-collapse-content-active {
  display: flex;
  justify-content: center;
}

.cardapio-item {
  opacity: 0;
  transform: translateX(-200px);
  transition: opacity 1.5s, transform 1.5s ease-in-out;
}

.cardapio-item.slide-in {
  opacity: 1;
  transform: translateX(0);
}
