.border {
  border: 3px solid white;
  border-radius: 10px;
  border-color: #7a4827;
  margin: 2px;
  margin-bottom: 25px;
  padding: 5px;
}
.flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-left: 10px;
  flex-wrap: wrap;
}
.p_1 {
  -webkit-background-clip: text;
  font-weight: bold;
  flex: none;
  color: transparent;
  margin-left: 10px;
  background-clip: text;
}
.name {
  color: #7a4827;
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  display: contents;
  flex: none;
  text-align: start;
}
.price {
  color: #7a4827;
  font-weight: bold;
  font-size: 16px;

  display: contents;
}
.sub {
  color: #7a4827;
  font-weight: bold;
  margin-left: 6px;
  font-size: 12px;
  text-align: start;
}
@font-face {
  font-family: "Georgia";
  src: url("../fonts/georgia.ttf") format("truetype");
}
@font-face {
  font-family: "Georgia-bold";
  src: url("../fonts/georgia-bold.ttf") format("truetype");
}
.georgia-font {
  font-family: "Georgia", serif;
}
.georgia-bold-font {
  font-family: "Georgia-bold", serif;
}
