body {
  font-family: "Arial", sans-serif;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

.containerStatus {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Estilo para o card */
.card {
  max-width: 600px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  padding-inline: 50px;
}

.card-title {
  font-size: 24px;
  color: #333;
  margin-top: 20px;
}

.card-text {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

/* Estilização para o botão */
.btn {
  display: inline-block;
  padding: 10px 20px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #0056b3;
}
